@import '/src/templates/constants.scss';

.basic-button {
  position: relative;
  padding: 15px 50px;
  background-color: black;
  border-radius: 30px;
  font-weight: 600;
  transition: background-color ease-in-out .2s;

  .label {
    display: inline-block;
    transition: all ease-in-out .2s;
  }

  &.hovered .label {
    transform: translateX(-5px);
  }

  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: -15px;
    opacity: 0;
    background: $primary-gradient;
    border-radius: 50em;
    transition: all ease-in-out .2s;
  }

  &.hovered .dot {
    transform: translateX(25px);
    opacity: 1;
  }
}