@import '/src/templates/constants.scss';

a:hover, a:not([href]):not([class]):hover{
  color: $theme-orange;
}


.dark-theme {
  transition: background-color ease-in-out .2s;

  .logo-wrapper::after {
    background-color: $background-tertiary-dark-theme;
  }

  background-color: $background-tertiary-dark-theme;
  header .sticky {
    background-color: rgba(25, 29, 32, 0.95);
  }

  header .slide-pane {
    background-color: $background-tertiary-dark-theme;
    hr { border-top-color: $text-secondary-dark-theme; }
  }

  .navigation-wrapper { 
    color: $text-primary-dark-theme;
    li.solid, li li {
      color: $text-primary-dark-theme 
    } 
  }

  .page-reference-section {
    h2 { color: $text-primary-dark-theme; }
    p { color: $text-secondary-dark-theme; }
    .basic-button { 
      color: $background-primary-dark-theme;
      background-color: $text-primary-dark-theme;
    }
  }

  .projects-grid-section {
    h2 { color: $text-primary-light-theme; }
    p { color: $text-primary-light-theme; }
    .basic-button { 
      color: $background-secondary-light-theme;
      background-color: $text-primary-light-theme;
    }
    
    .section-header {
      h4 { color: $text-primary-dark-theme; }
      p { color: $text-secondary-dark-theme; }
    }  
  }

  .grid-tile.dark {
    h3 { color: $text-primary-dark-theme; }
    p { color: $text-primary-dark-theme; }
  }
  
  footer {
    background-color: #181a1c;
    color: $text-primary-dark-theme;
  
    .list-column span {
      color: $background-secondary-dark-theme;
    }
  
    .list-column li {
      color: $text-tertiary-dark-theme;;
    }
  
    .bottom-bar {
      color: $background-secondary-dark-theme;
      background-color: $background-quaternary-dark-theme;
    }
  }

  .introduce-section {
    h2 { color: $text-primary-dark-theme; }
    p { color: $text-secondary-dark-theme; }
  }

  .tech-stack-section {
    .row {
      background-color: $background-primary-dark-theme;
      color: $text-primary-dark-theme;
    }
  }

  .experience-section {
    h4, h3 {
      small {
        opacity: .5;
        color: $text-secondary-dark-theme; 
      } 
      color: $text-primary-dark-theme; 
    }
    p { color: $text-secondary-dark-theme; }


    button  {
      color: $text-secondary-dark-theme; 
      &:hover { color: $theme-orange; }
    }
    .timeline-container .timeline-wrapper {

      .timeline-item.active {
        .timeline-indicator {
          background: $primary-gradient;
          border-color: $background-primary-dark-theme;
        }
      }

      .timeline-item {
        .timeline-indicator {
          border-color: $text-secondary-dark-theme;
        }
      }

      .timeline-item-date {
        color: $text-secondary-dark-theme; 
      }

      .timeline-indicator::after, .timeline-indicator::before {
        background-color: $background-primary-dark-theme;
      }

    }
  }

  .testimonial-section {
    .row {
      background-color: $background-primary-dark-theme;
      color: $text-secondary-dark-theme;

      button  {
        color: $text-secondary-dark-theme; 
        &:hover { color: $theme-orange; }
      }
    }
  }

  .contact-reference-section {
    p {color: $text-secondary-dark-theme; }
    .basic-button { 
      color: $text-primary-light-theme;
      background-color: $theme-orange;
    }
  }

  .contact-section {
    color: $text-secondary-dark-theme;

    h1, i {
      color: $text-primary-dark-theme;
    }
  }
}