@import '/src/templates/constants.scss';
@import 'src/templates/dark-theme.scss';
@import 'src/templates/light-theme.scss';

html, body {
  font-family: 'Lato';
  font-style: normal;
}

a:hover, a:not([href]):not([class]):hover{
  color: $theme-orange;
}

.navigation-wrapper.dark-theme, .navigation-wrapper.light-theme  {
  .solid, .submenu {
    color: $text-secondary-dark-theme;
    background-color: $background-quaternary-dark-theme;

    &::after {
      border-color: $background-quaternary-dark-theme transparent;
    }
  }
}
