@import '/src/templates/constants.scss';
@import 'src/templates/dark-theme.scss';
@import 'src/templates/light-theme.scss';

html, body {
  font-family: 'Lato';
  font-style: normal;
  overflow-x: hidden;
}

a:hover, a:not([href]):not([class]):hover{
  color: $theme-orange;
}

.navigation-wrapper.dark-theme, .navigation-wrapper.light-theme  {
  .solid, .submenu {
    color: $text-secondary-dark-theme;
    background-color: $background-quaternary-dark-theme;

    &::after {
      border-color: $background-quaternary-dark-theme transparent;
    }
  }
}

.grid-tile.dimmed {
  color: $text-primary-dark-theme;
  p { color: $text-primary-dark-theme; }
  background: $background-quaternary-dark-theme;
  
  .basic-button {
    color: $background-quaternary-dark-theme;
    background: $primary-gradient;
   .dot { background: $background-quaternary-dark-theme; } 
  }
}


.grid-tile.wide {
  justify-content: center;

  p { max-width: 500px; }
}


.paralax-container {
  position:absolute;
  top: -50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all ease-in-out .2s;
  transform: translate(100px);
}




