.contact-section {
  text-align: center;
  span {
    display: block;
    margin-bottom: 50px;
    font-size: 1.7rem;
  }
  padding: 150px 0;
  i { 
    margin-bottom: 20px;
    font-size: 50px; 
  }

  a {
    display: block;
    font-size: 3rem;
  }
}