@import 'src/templates/constants.scss';

.blob-bg {
  width: 100%;
  height: 100%;
  background-image: url("/images/blob.png");
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
  animation-name: example3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  transition: all ease-in-out .2s;


  @media only screen and (max-width: $sm) {
   animation: none;
   transform: translate(-100px, -100px);
  }
}


@keyframes example3 {
  from {
    transform: skew(0deg, 0deg);
  }

  25% {
    transform: skew(5deg, -5deg);
  }

  50% {
    transform: skew(9deg, -1deg);
  }

  75% {
    transform: skew(-5deg, 8deg);
  }

  to {
    transform: skew(0deg, 0deg);
  }
}


.articles-section {
  padding: 50px;


  @media only screen and (max-width: $msm) {
    padding: 30px;
  }


  .section-header {
    padding: 100px 0;
  }

  & > .row:last-child {
    background: $primary-gradient;
    box-shadow: $smooth-shadow;
    border-radius: 19px;
  }

  .basic-button {
    color: $text-primary-dark-theme;
    background-color: $text-primary-light-theme;
  }
}


